.body 		   { background: rgb(252, 242, 242); }
.background    { background: rgb(252, 242, 242);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255,105,143); }
.wall          { background: rgb(0,136,68);   }
.floater	   { background: rgb(55,204,146);   }

.actor  { position: absolute;  }
.player { background: rgb(255,187,221); }
.coin { background: rgb(247, 221, 22); }
.enemy {background: rgb(209,17,82);}
.special { background: rgb(146,173,252); }
.goal {background: rgb(158,4,246); }

.info p{ display: inline-block;}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(231,26,129);
  transform:scaleX(0.1);
}
.won .player {
  box-shadow: -4px -7px 8px gold, 4px -7px 8px gold;
}
